{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}

<form method="POST">
	{{form.as_p}}

	<table class="table table-striped table-hover table-bordered">
  	  <thead class="table-dark">
    	  <tr>
      	    <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
      	    <th scope="col">Date joined</th>
            <th scope="col">Last login</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
    
		{% if users %}
		{% for user in users %}
			<tr>
				<td><input type="checkbox" name="user-management" value=""></td>
				<td>{{ user.id }}</td>
				<td>{{ user.username }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.date_joined }}</td>
				<td>{{ user.last_login }}</td>
				{% if user.is_active %}
				<td>Active</td>
				{% else %}
				<td>Blocked<td>
				{% endif %}
			</tr>
		{% endfor %}

{% endif %}

	
	  </tbody>
	</table>





{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}
